<nav class="navbar navbar-inverse bg-primary">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a routerLink="template">Template Driven Form</a></li>
        <li><a routerLink="angular-5template">Angular 5 Templatedriven</a></li>
      <li><a routerLink="validateruntime">Reactive form Runtime validation</a></li>
      <li><a routerLink="angular-5reactive">Angular 5 Reactive</a></li>
      <li><a routerLink="customformvalidation">Custom Form Validation</a></li>
      <li><a routerLink="dynamicforms">Dynamic Forms</a></li>
      <li><a routerLink="httpRequest">httpRequest</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

